<h1>{{item.name}}</h1>

<div>
  <h3>{{item.rating}}</h3>
  <ng-rating-bar
    [(value)]="item.rating"
    [ratingCount]="5"
    [styles]=" {fontSize: '36px'}"
    [disabled]="true">
  </ng-rating-bar>
  <button (click)="createReview()" mat-raised-button>Add Review</button>
</div>


<hr/>


<h2>Reviews</h2>

<div *ngFor="let review of item.reviews">
  <ng-rating-bar
    [(value)]="review.rating"
    [ratingCount]="5"
    [styles]=" {fontSize: '36px'}"
    [disabled]="true">
  </ng-rating-bar>
  <p>{{review.rating}} {{review.review}}</p>
</div>
